body
{
	margin: 0px;
	font-family:Arial,Helvetica,sans-serif;
	color: black;
}

.layoutTable
{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.titleBarContainer
{
	height:40px; 
	background: #242728; /* Old browsers */
	background: -moz-linear-gradient(top,  #242728 4%, #45484d 31%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#242728), color-stop(31%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #242728 4%,#45484d 31%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #242728 4%,#45484d 31%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #242728 4%,#45484d 31%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #242728 4%,#45484d 31%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242728', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	color: white;
	text-align: left;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

.title
{
	font-size: 22px;
	vertical-align: middle;
}

.sidebarContainer
{
	background-color: #E8E8DD;
	width: 200px;
	border-right: 1px solid gray;
	vertical-align: top;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	cursor: pointer;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: middle;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
	color:gray;
}.button:active {
	position:relative;
	top:2px;
	color:gray;
}

.sideMenuItem
{
	color: #43433E;
	font-weight: bold;
}
.sideMenuItem:hover
{
	color: black;
	cursor: pointer;
}

.mainContentContainer
{
	background-color: white;
	padding:0px;
	vertical-align: middle;
	text-align: center;
}

.contentContainer
{
	width:100%;
	height: 100%;
	display: none;
}